.stack-work/

tfp-submission/paper.aux
tfp-submission/paper.fdb_latexmk
tfp-submission/paper.fls
tfp-submission/paper.log
tfp-submission/paper.out
tfp-submission/paper.tex


missfont.log
*.aux
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.log
*.nav
*.out
*.snm
*.toc
*.vrb
